
<form action="/Profile/update" method="POST">
<label for="firstName">First Name</label>
<input id="firstName" placeholder="First Name" name="firstName" type="text" value="<%= user.firstName %>"><br />
<label for="lastName">Last Name</label>
<input id="lastName" placeholder="Last Name" name="firstName" type="text" value="<%= user.firstName %>"><br />
<input type="submit" value="Submit" />
</form>
