<div>
  <h2>New Blog Entry</h2>
  <form action="/Home/postNew" method="POST">
    <input type="text" id="title" name="title"/>
    <textarea id="body" name="body"></textarea>
    <input type="submit" value="Submit"/>

  </form>
</div>
